Flask==3.0.3
flask-cors==4.0.0
gunicorn==22.0.0

google-cloud-secret-manager
google-cloud-storage
google-cloud-aiplatform

langchain>=0.3,<0.4
langchain-core>=0.3,<0.4
langchain-community>=0.3,<0.4
langchain-google-vertexai

chromadb==1.5.0

pypdf
python-docx
