# =========================
# 벡터 DB (GCS에서 받을거라 로컬 제외)
# =========================
Terms/
*.sqlite3
**/index/
**/*bin
**/*pickle

# =========================
# 업로드/출력 파일
# =========================
uploads/
outputs/

# =========================
# Python 캐시
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# 가상환경
# =========================
venv/
.venv/
env/

# =========================
# Git
# =========================
.git/
.gitignore

# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# 로컬 키 (Secret Manager 사용 시)
# =========================
firebase-adminsdk.json
